@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
:root{
    --primary-color:#831843;
    --secondary-color: #DDD6FE;
    font-family: 'Josefin Sans', sans-serif;
    
}
body{
    background-color: var(--secondary-color);
}

.heading{
    text-align: center;
    margin-top: 3%;
    color: black;
    font-size: 24px;
    font-weight: 600;

}
.heading1{
    font-size: 30px;
    font-weight: 600;
}



 .table{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    font-size: 24px;

}
.back{
    color: black;
    border:1px solid black;
    margin-top: 1%;
    height:50px;
    width:150px;
    background-color: white;
    border-radius: 12%;
}

 .cell:hover{
    color:white;
    background-color: #BE185D;
    text-decoration: none;
    
}
.cell{
    background-color: var(--primary-color);
 
    width: 120px;
    height: 50px;
    margin: 0.2rem 0.2rem 0.4rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;

} 

.image{
    height: 35%;
    width: 20%;
    margin: auto auto;
    margin-bottom: 2%;
    margin-top: 2%;
}


.output{
    font-size: 30px;
    height: 40px;
    border-radius: 250px;
    margin-top: 2%;
    margin-bottom: 2%;
   
}

.subheading{
    font-size: 24px;
    font-weight: 100;
}

  
.angle{
    background-color: var(--secondary-color);
    border:2px solid var(--primary-color);
    padding: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.2rem;
    
    height: 20px;
    width: 50px;
    overflow: scroll;
}
.angle:-webkit-scrollbar {
    width: 0px;
  }

.btn, .btnang, #submit-btn{
    cursor: pointer;
    height: 50px;
    width: 100px;
    border: none;
    margin-top: 1%;
    padding-left: 0%;
    background-color: var(--primary-color);
    color: white;

}
.container{
   
    justify-content: center;
    align-items: center;
    /* min-height: 94vh; */
    text-align: center;

}
.subcontainer{
    text-align: left;
    margin-left: 2%;
    padding-bottom: 1%;
    font-size: 18px;


}
.question{
    text-align: left;
    margin-left: 2%;
    margin-right:2%;
    font-size: 20px;
    margin-bottom: 2%;
    color: black;
    padding: 1rem 1rem;
    background-color:white;
    font-weight: 800;
}


.side{
    background-color: var(--secondary-color);
    border:2px solid var(--primary-color);
    padding: 1rem;
    margin: 1rem 1rem 1.5rem 0.2rem;
    
    height: 20px;
    width: 50px;
    overflow: scroll;
}


#outputangle{
    font-size: 22px;
    font-weight: 600;
}
 
